h3, #ct {
    font-weight: bold;
}

#arquetipo{
    display: inline-flex;
    height: 250px;
    
}

#tit{
    display: inline-flex;
    margin-left: 4px;
}



.all_categorias{
    margin-top:20px;
    overflow: scroll;
}

.izquierda{

    height: 540px;
    width: 400px;
    display:inline-flex;
    padding-left: 20px;

}
.top{
    padding-left: 20px;
}

.container-creardocumento{
    width: 800px;
    margin-left: 500px;
    margin-top: -540px;
    padding: 5px;
    display: inline-flexbox;
}

.card-body-arq{
    width: 100px;
    height: 100px;
}

#edit-arq{
    border: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#mcflurry{
    width: 27px;
    height: 27px;
    margin: 50px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#mcflurry span,
#mcflurry span:before,
#mcflurry span:after{
    background: black;
    display: block;
    height: 4px;
    position: absolute;
    
    transition: all 300ms ease;
}

#mcflurry span:before,
#mcflurry span:after{
    content: '';
}

#mcflurry span{
    right: 0px;
    top: 13px;
    width: 27px;
}

#mcflurry span:before{
    left: 0px;
    top: -10px;
    width: 16px;
}

#mcflurry span:after{
    left: 0px;
    top: 10px;
    width: 20px;
}

#mcflurry.close span{
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: red;
}


#mcflurry.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: red;
}

#mcflurry.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 30px;
    visibility: hidden;
    transition: all 300ms ease;
}

#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 100px;
    background: rgba(0,0,0,0.8);
}

#menu li{
    list-style: none;
    position: relative;
    width: 600px;
    margin: auto;
}

#menu li:hover{
    letter-spacing: 3px;
}

#menu li a{
    color: white;
    display: block;
    font-size: 32px;
    text-decoration: none;
    margin-bottom: 30px;
    position: relative;
    transition: all 300ms;
    
}

#menu li a:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms;
}


#menu li a:hover:before{
    opacity: 1;
    transform: scale(1);

}