h3, #ct {
    font-weight: bold;
}

#arquetipo{
    display: inline-flex;
    height: 250px;
    
}

#tit{
    display: inline-flex;
    margin-left: 4px;
}



.all_categorias{
    margin-top:20px;

}

.izquierda{

    height: 400px;
    width: 400px;
    display:inline-flex;
    padding-left: 20px;

}
.top{
    padding-left: 20px;
}

.container-creardocumento{
    width: 800px;
    margin-left: 500px;
    margin-top: -400px;
    padding: 5px;
    display: inline-flexbox;
}

.card-body-arq{
    width: 100px;
    height: 100px;
}

#edit-arq{
    border: none;
}

