<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }}>
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/subirarchivo">Subir Archivo<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Modificar Estructura</a>
            <a class="nav-item nav-link" href="/creardocumento">Crear Documento</a>
            <a class="nav-item nav-link disabled" href="#">Vacio</a>
          </div>
        </div>
    </nav>
    <br>
    <div class="container">
       <h3>Vista: Ver Arquetipos y Crear Documento</h3>
       <a type="button" class="btn btn-primary" href="verjson">Ver Json</a>
       <br>

       <!-- Cuando se realiza la consulta a la base de datos, se recorre el arreglo aData recibido para generar los bloques -->
       <div class = "all_categorias">
         <!-- For que recorre las colecciones (categorias) y crea los bloques-->
       {%for i in range(0,aData|length)%}
        <div class="card border-dark">
            <h5 class="card-header"><p id="tit" style="font-weight: bold;">Nombre: </p><p id="tit">{{aData[i][0][0]}}</p> | <p id="tit" style="font-weight: bold;">Fecha Creación:</p> <p id="tit">{{aData[i][0][1]}}</p></h5>
            <div class="card-body">
             <!-- For que recorre las subcategorias y crea los bloques -->
            {%for k in range(0,aData[i][1]|length)%}
            <div class="card border-primary">
                <h5 class="card-header"><p id="tit" style="font-weight: bold;">Subcategoría:</p><p id="tit">{{aData[i][1][k]}}</p></h5>
                <div class="card-body">
                <!-- For que recorre los arquetipos y crea los bloques -->
                {%for z in range(0,aData[i][2][k]|length)%}
                <div class="card text-white bg-dark mb-3" id = "arquetipo" style="max-width: 18rem;">
                    <div class="card-header"><p style="font-weight: bold;">{{aData[i][2][k][z][0]}}</p></div>
                    <div class="card-body">
                      <p class="card-text">{{aData[i][2][k][z][1]}}</p>
                    </div>
                </div>
                {%endfor%}
                </div>
            </div>
            <br>

            {%endfor%}
            

            


            

            

            </div>
        </div>
        <br>
       {%endfor%}
       </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>