<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }}>
    <title>Modificar estructura</title>
  </head>
  <body>
    <div id="mcflurry">
      <span></span>
    </div>
    <h3 align="center">⠀⠀⠀⠀</h3>
    <div id="menu">
      <ul>
          <li><a href="/">Página principal</a></li>
          <li><a href="/subirarchivo">Subir archivo</a></li>
          <li><a href="/creardocumento">Crear documento</a></li>
      </ul>
    </div>
    <script>
      var burgerMenu = document.getElementById('mcflurry');
      var show = document.getElementById('menu');

      burgerMenu.addEventListener('click', function(){
        this.classList.toggle("close");
        show.classList.toggle("show");
      })
    </script>
    <br>
    <div class="container">
      <h3>Vista: Modificar estructura (Categorías)</h3>
      <div class="row mt-5">
        <div class="col-3 offset-9">
          <a href="/editararquetipos_2" class="btn btn-primary text-right">Ver arquetipos</a>
        </div>
      </div>
      <br>
      <div class="card text-white bg-warning mb-3">
        <div class="card-header">Modificación de registros</div>
        <div class="card-body">
          <p class="card-text">La siguiente vista permite observar y modificar la estructura del archivo .JSON almacenado en la base de datos.</p>
        </div>
      </div>
      <br>  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Categorías</th>
            <th scope="col">Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {%for i in range(0,aData|length)%}
          <tr>
            <th scope="row">{{i}}</th>
            <td>{{aData[i][0][0]}}</td>
            <td>{{aData[i][0][1]}}</td>
            <td>
              <button class="btn btn-success text-right">
                Editar
              </button>
              <button class="btn btn-danger text-right">
                Borrar
              </button>
            </td>
          </tr>
          {%endfor%}  
        </tbody>
      </table>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>