<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="mcflurry">
        <span></span>
      </div>
      <h3 align="center">⠀⠀⠀⠀</h3>
      <div id="menu">
        <ul>
            <li><a href="/subirarchivo">Subir archivo</a></li>
            <li><a href="editararquetipos">Modificar estructura</a></li>
            <li><a href="/creardocumento">Crear documento</a></li>
        </ul>
      </div>
      <script>
        var burgerMenu = document.getElementById('mcflurry');
        var show = document.getElementById('menu');
  
        burgerMenu.addEventListener('click', function(){
          this.classList.toggle("close");
          show.classList.toggle("show");
        })
      </script>
</body>
</html>